@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

* {
    margin: 0;
    padding: 0;
}

body{
    position: relative;
    width: 1440px;
    height: 2817px;
    
    background: #FFFFFF;
}

#nav{
    position: absolute;
    height: 800px;
    left: 0%;
    right: 77.15%;
    top: 0px;

    background: #2D3E4F;
}

h1{
    position: absolute;
    width: 621px;
    height: 88px;
    left: calc(50% - 621px/2 + 4px);
    top: 311px;
    
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 44px;
    
    text-align: center;
    letter-spacing: 3px;
    text-transform: uppercase;
    
    color:  #FFFFFF;    
}

h2{
    position: absolute;
    height: 36px;
    left: calc(50% - 212px/2 + 0.5px);
    top: -6px;
    
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 31px;
    line-height: 36px;
    
    text-align: center;
    text-transform: uppercase;
    
    color: #313131;
}

h3{
    position: absolute;
    width: 139px;
    height: 25px;
    left: calc(50% - 139px/2);
    top: 206px;
    
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 25px;

    text-align: center;
    letter-spacing: 1px;
    
    color: #CF404D;
}

h4{
    position: absolute;
    height: 30px;
    left: 4.38%;
    right: 74.79%;
    top: 119px;
    
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 30px;
    
    text-transform: uppercase;
    
    color: #313131;
}

h5{
    position: absolute;
    height: 80px;
    left: 4.38%;
    right: 4.38%;
    top: 160px;
    
    font-family: 'Droid Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    
    color: rgba(0, 0, 0, 0.74);
}

#rectangle{
    position: absolute;
    height: 2816px;
    width: 329px;
    left: 0%;
    right: 0%;
    top: 0px;
    
    background: #2D3E4F;
    border-radius: 0px;
}

ul{
    height: 240px;
    left: 0%;
    right: 0%;
    top: 291px;
    list-style-type: none;
}

a:hover,
a { 
    text-decoration: none;
    color: #FFFFFF;
}

a:active{
    color: #CF404D;
}

#home{
    position: absolute;
    width: 32px;
    height: 20px;
    left: calc(50% - 32px/2 + 0.5px);
    top: 310px;
    
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;

    text-align: center;
    text-transform: uppercase;
    
    color: #CF404D;
}

#about{
    position: absolute;
    width: 37px;
    height: 20px;
    left: calc(50% - 37px/2);
    top: 370px;

    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    /* identical to box height, or 143% */

    text-align: center;
    text-transform: uppercase;

    color: #FFFFFF;
}

#gallery{
    position: absolute;
    width: 48px;
    height: 20px;
    left: calc(50% - 48px/2 + 0.5px);
    top: 430px;
    
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    
    text-align: center;
    text-transform: uppercase;
    
    color: #FFFFFF;
}

#contact{
    position: absolute;
    width: 51px;
    height: 20px;
    left: calc(50% - 51px/2);
    top: 490px;
    
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    
    text-align: center;
    text-transform: uppercase;
    
    color: #FFFFFF;
}

#networks{
    position: absolute;
    height: 26.88px;
    width: 329px;
    left: 0%;
    right: 77.15%;
    top: 2764px;   
}

.email {
    position: absolute;
    left: 68.56%;
    right: 26.62%;
    top: 34.02%;
    bottom: 17.49%;
}

.insta{
    position: absolute;
    left: 61.57%;
    right: 33.78%;
    top: 29.8%;
    bottom: 13.27%;
}

.wattpad{
    position: absolute;
    left: 54.68%;
    right: 40.6%;
    top: 37.81%;
    bottom: 22.13%;
}

.be{
    position: absolute;
    left: 47.42%;
    right: 47.42%;
    top: 36.12%;
    bottom: 22.11%;
}

.ball{
    position: absolute;
    left: 40.6%;
    right: 54.7%;
    top: 27.69%;
    bottom: 14.75%;
}

.twitter{
    position: absolute;
    left: 33.68%;
    right: 61.57%;
    top: 34.02%;
    bottom: 18.75%;
}

.facebook{
    position: absolute;
    left: 26.79%;
    right: 68.56%;
    top: 27.69%;
    bottom: 15.38%;
}

.home{
    position: absolute;
    height: 800px;
    width: 1111px;
    margin-left: 329px;
    left: 0%;
    right: 0%;
    top: 0px;
}

#text_home{
    position: absolute;
    width: 226px;
    height: 20px;
    left: calc(50% - 226px/2 + 5.5px);
    top: 400px;
    
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;

    text-align: center;
    
    color:  #FFFFFF;
}

.buttons{
    position: absolute;
    height: 47px;
    left: 0%;
    right: 0%;
    top: 436px;
}

#first_button{
    position: absolute;
    width: 112px;
    height: 47px;
    left: calc(50% - 112px/2 - 60.5px);
    top: 0px;

    background-color: rgba(125, 125, 215, 0);
    border: 2px solid #FFFFFF;
    border-radius: 4px;

    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    
    text-align: center;
    color: #FFFFFF;
}

#second_button{
    box-sizing: border-box;

    position: absolute;
    width: 112px;
    height: 47px;
    left: calc(50% - 112px/2 + 61.5px);
    top: 0px;
    
    background: #CF404D;
    border: 2px solid #CF404D;
    border-radius: 4px;

    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;

    text-align: center;

    color: #FFFFFF;
}

.back_heading{
    position: absolute;
    height: 549px;
    left: 329px;
    right: 0%;
    top: 800px;

    background: #FFFFFF;
    border-radius: 0px;
}

.block_heading{
    position: absolute;
    height: 423px;
    left: 7.7%;
    right: 7.7%;
    top: 63px;
}

.text_heading{
    position: absolute;
    height: 82px;
    left: 0%;
    right: 0%;
    top: 0px;
}

.text_heading{
    position: absolute;
    width: 321px;
    height: 30px;
    left: calc(50% - 321px/2);
    top: 52px;
    
    font-family: 'Droid Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 30px;
    
    text-align: center;
    
    color: rgba(115, 115, 115, 0.74);
}

#block_style{
    position: absolute;
    height: 279px;
    left: -1.06%;
    right: -1.06%;
    top: 144px;
}

.style_1{
    position: absolute;
    height: 279px;
    left: 0%;
    right: 75%;
    top: 0px;
    
}

.style_2{
    position: absolute;
    height: 279px;
    left: 25%;
    right: 50%;
    top: 0px;
    
}

.style_3{
    position: absolute;
    height: 279px;
    left: 50%;
    right: 25%;
    top: 0px;
}

.style_4{
    position: absolute;
    height: 279px;
    left: 75%;
    right: 0%;
    top: 0px;
}

#video{
    position: absolute;
    left: 8.54%;
    right: 58.12%;
    top: 9.56%;
    bottom: 73.72%;
}

#news{
    position: absolute;
    left: 9.93%;
    right: 59.51%;
    top: 4.78%;
    bottom: 68.94%;
}

#sett{
    position: absolute;
    left: 8.54%;
    right: 58.12%;
    top: 3.58%;
    bottom: 67.74%;
}

#cloud{
    position: absolute;
    left: 8.54%;
    right: 58.12%;
    top: 7.17%;
    bottom: 71.33%;
}

#text_link{
    position: absolute;
    height: 20px;
    left: 4.38%;
    right: 73.54%;
    top: 247px;
    
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    
    color: #CF404D;
}

.strip{
    position: absolute;
    height: 135px;
    width: 1111px;
    left: 0%;
    right: 0%;
    top: 1349px;

    margin-left: 329px;
    
    background: #CF404D;
    border-radius: 0px;
}

#text_strip{
    position: absolute;
    height: 36px;
    left: 9.81%;
    right: 57.38%;
    top: 47px;
    
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 31px;
    line-height: 36px;
    
    color: #FFFFFF;
}

#button_strip{
    position: absolute;
    width: 127px;
    height: 47px;
    right: 156px;
    top: 44px;
}

#CallToAction{
    box-sizing: border-box;

    position: absolute;
    height: 47px;
    left: 0%;
    right: 0%;
    top: 0px;

    background-color: rgba(125, 125, 215, 0);
    border: 2px solid #FFFFFF;
    border-radius: 4px;

    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;

    color: #FFFFFF;
}

.block_lightbox{
    position: absolute;
    width: 1111px;
    height: 740px;
    left: 329px;
    right: 0%;
    top: 1484px;
    
    background: #FFFFFF;
    border-radius: 0px;
}

.text_lightbox{
    position: absolute;
    height: 82px;
    left: 7.7%;
    right: 7.7%;
    top: 63px;
}

#text_lightbox{
    position: absolute;
    width: 321px;
    height: 30px;
    left: calc(50% - 321px/2);
    top: 52px;
    
    font-family: 'Droid Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 30px;
    
    text-align: center;
    
    color: rgba(115, 115, 115, 0.74);
}

.gallery{
    position: absolute;
    width: 960px;
    height: 614px;
    left: 7.7%;
    right: 7.7%;
    top: 63px;
}

.images img{
    position: relative;
    height: 215px;
    left: 1.12%;
    right: 76.01%;
    top: 154px;

    margin-right: 20px;
    margin-bottom: 20px;
}

.contact_form{
    position: absolute;
    width: 1111px;
    height: 521px;
    left: 329px;
    right: 0%;
    top: 2224px;

    background: #FAFAFA;
    border-radius: 0px;

    border-bottom: 1px solid #E1E1E1;
    border-top: 1px solid #E1E1E1;
}

.block_contact_form{
    position: absolute;
    height: 393px;
    left: 7.7%;
    right: 7.7%;
    top: 64px;
}

.text_contact_form{
    position: absolute;
    height: 82px;
    left: 0%;
    right: 0%;
    top: 0px;
}

#text_contact_form{
    position: absolute;
    width: 321px;
    height: 30px;
    left: calc(50% - 321px/2);
    top: 52px;
    
    font-family: 'Droid Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 30px;
    
    text-align: center;
    
    color: rgba(115, 115, 115, 0.74);
}

.form{
    position: absolute;
    height: 234px;
    left: 19%;
    right: 19%;
    top: 144px;
}

.form{
    position: absolute;
    height: 234px;
    left: 19%;
    right: 19%;
    top: 144px;
}

.name{
    position: absolute;
    height: 45px;
    left: -0.02%;
    right: 51.8%;
    top: 0px;
    
    background: #FFFFFF;
    box-shadow: 0px 0px 0px rgba(64, 64, 71, 0.3);
    border: none;
    border-radius: 3px;
}

.e-mail{
    position: absolute;
    height: 45px;
    left: 51.8%;
    right: -0.02%;
    top: 0px;
    
    background: #FFFFFF;
    box-shadow: 0px 0px 0px rgba(64, 64, 71, 0.3);
    border: none;
    border-radius: 3px;
}

.message{
    position: absolute;
    height: 110px;
    left: -0.02%;
    right: -0.02%;
    top: 62px;
    
    background: #FFFFFF;
    box-shadow: 0px 0px 0px rgba(64, 64, 71, 0.3);
    border: none;
    border-radius: 3px;
}

input{
    left: calc(50% - 33px/2 - 243.91px);
    top: 12px;
    
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
        
    color: rgba(101, 101, 101, 0.74);  
}

.send{
    position: absolute;
    height: 45px;
    left: -0.02%;
    right: -0.02%;
    top: 189px;
    
    background: #CF404D;
    border: none;
    border-radius: 4px;
}

footer{
    position: absolute;
    width: 230px;
    height: 20px;
    left: 770px;
    top: 2769px;

    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    
    color: rgba(0, 0, 0, 0.74);
}
